/* Including fonts */
@font-face {
    font-family: PressStart2P;
    src: url(fonts/PressStart2P.ttf);
}
@font-face {
    font-family: Jura;
    src: url(fonts/Jura.ttf);
}
@font-face {
    font-family: Comfortaa;
    src: url(fonts/Comfortaa.ttf);
}
@font-face {
    font-family: Radiotechnika;
    src: url(fonts/Radiotechnika.otf);
}

/* Main settings */
html {
    font-size: 20px;
}
body {
    background: url(background.jpg) no-repeat fixed;
    background-size: cover;
    background-color: rgb(0, 0, 40);
}

/* Setting of newspaper header */
.newspaper-header {
    text-align: center;
}
.pre-header {
    margin: 4.5rem 0 0;
    font-family: PressStart2P, monospace;
    font-size: 1.5rem;
    letter-spacing: 2rem;
    word-spacing: 1.5rem;
    color: rgb(0, 250, 255);
    text-shadow: 0px 0px 10px rgba(0, 255, 200, 0.6);
}
.newspaper-header h1 {
    margin: 3rem 0 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-size: 8rem;
    text-transform: uppercase;
    letter-spacing: 2rem;
    word-spacing: 3rem;
    color: rgba(245, 130, 255, 0.9);
    text-shadow: 6px 6px 3px rgba(0, 255, 200, 0.6);
}
.newspaper-header p:last-child {
    margin: .5rem 4.5rem 0 0;
    padding: 0;
    text-align: right;
    font-family: Jura, monospace;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
    color: rgb(100, 255, 255);
    text-shadow: 0 0 20px rgb(0, 255, 255);
}
.newspaper-header span {
    font-weight: normal;
}

/* Setting of article header */
main, .main-header {
    width: 100%;
    margin: 0;
    padding: 0;
}
.main-header h2 {
    width: 100%;
    margin: 6rem 0 0;
    padding: 0;
    text-align: center;
    font-family: Comfortaa, monospace;
    font-size: 2rem;
    font-weight: bold;
    word-spacing: .2rem;
    letter-spacing: .1rem;
    line-height: 2.5rem;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 30px rgb(150, 250, 255);
}
.main-header div {
    width: 100%;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
}
.main-header a {
    margin: 0 0 0 .5rem;
    padding: 0;
    font-family: Comfortaa, monospace;
    font-size: 1rem;
    font-weight: lighter;
    color: rgb(0, 255, 255);
}
.main-header a:first-child{
    margin-left: 0;
}

/* Setting of main content */
/* Settings of sections */
section {
    width: 100%;
    margin: 4rem 0 0;
    padding: 0;
    font-size: 0;
}

/* Settings of articles */
article {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 1.5rem - 3px);
    margin: 0 0 0 .5rem;
    padding: 0;
    font-size: 0;
    color: rgb(195, 255, 255);
}
#article-intro {
    width: 100%;
    margin: 0;
    text-align: center;
}
article:nth-child(2n){
    margin-right: 1rem;
}

/* Settings of article headers */
article h3 {
    width: 100%;
    height: 4.5rem;
    margin: 2rem 0 0;
    padding: 0;
    text-align: center;
    font-family: PressStart2P, monospace;
    font-size: 1.5rem;
    letter-spacing: .25rem;
}

/* Settings of article paragraphs */
article p {
    width: 100%;
    margin: .5rem 0 .5rem 0;
    padding: 0;
    font-family: Jura, monospace;
    font-size: 1rem;
    text-indent: 1.5rem;
    color: rgb(255, 255, 255);
    column-count: 2;
    column-rule: solid rgb(0, 238, 255);
}яя
#article-intro p {
    column-count: 1;
    margin: 0;
}

/* Settings of anchors */
a {
    color: rgb(0, 255, 255);
}

/* Settings of article images */
article figure {
    margin: 10px 0 0;
    text-align: center;
}
article figcaption {
    margin: 0 auto;
    width: 90%;
    font-size: .9rem;
    text-align: center;
}
img {
    width: 90%;
}

/* setting of footer */
footer div p {
    margin: .25rem 0;
    font-family: Radiotechnika, sans-serif;
}

footer p {
    text-indent: 1.5rem;
    color:rgb(255, 255, 255);
}